/*Estilo de letra, margenes y eso*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-wrapper  {
    margin-top: 0px;
    /* Space for fixed nav */
    width: 100%;
    padding: 20px;
}

.card-body {
    background: transparent; /*Fondo transparente*/
    border: 2px solid rgba(255, 255, 255, .2); /*Ajustamos el borde*/
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 10px;
}

.profile-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin: 20px; /*para que cuando se produzca el responsive no se peguen las cosas*/
}

.profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 100px;
    height: 50px;
    padding: 0px;
}

.rutas-list {
    display: flex;
    flex-wrap: wrap;
    gap: 43px; /* Ajustar el espacio entre los elementos */
    justify-content: center; /* Centramos el contenido */
    margin: 20px; /* Reducimos el margen para evitar el efecto de separación excesiva */
}

.rutas-item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centramos los elementos horizontalmente */
    gap: 10px; /* Añadimos espacio entre la imagen y el título */
    width: 200px; /* Ajustamos el ancho para que sea consistente con la imagen */
    padding: 10px; /* Añadimos algo de padding para mejorar la apariencia general */
    text-align: center; /* Centramos el texto */
}


/*Estilos para los botones*/
.btn2 button {
    position:relative;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 12px;
    color: #333;
    font-weight: 600;
    padding: 10px 20px;
}

.btnBuscar button {
    position: center;
    width: 100%;
    height: 100%;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 12px;
    color: #333;
    font-weight: 600;
}

.custom-btn {
    background-color: #e494b5;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 12px;
    color: #d41e37;
    font-weight: 600;
    padding: 10px 20px;
  }

.custom-btn:hover {
    background-color: #C70039; /* Color de fondo cuando pasa el mouse */
}

#mg {
    background-color: #e494b5;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 12px;
    color: #d41e37;
    font-weight: 600;
    padding: 10px 20px;
}

#mg {
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 20px;
}

#carouselExample {
    max-width: 1000px; /* Ancho deseado */
    max-height: 1000px; /* Alto deseado */
    margin: auto; /* Centrar en la página */
  }

.mapas {
    display: flex;
    flex-wrap: wrap; /* Para que las imágenes se apilen en pantallas pequeñas */
    gap: 10px; /* Espacio entre las imágenes */
    justify-content: center; /* Centrar las imágenes */
}

.input-box input{
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid gray;
    border-radius: 40px;
}

#msg {
    width: 90%;
    height: 100%;
}

.imagen-preview-container {
    margin: 10px 0;
}

.btn-seleccionar-imagen {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.img-publi {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    width: 310;
    height: 410;
    padding: 0px;
}

